@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap');
@import 'utilities';
@import 'text';

html {font-size: 100%;} /*16px*/

body {
  font-family: 'Inter', Helvetica, Arial, Helvetica, sans-serif;
//   line-height: 1.75;
  width: 100%;
  max-width: 1500px;
  overflow-x: hidden;
  navbar {
      margin: 0 auto;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}